@imageUrl: "../../images";

@import "vars.less";

/** page Structure **/

html{
    height: 100%;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

img { border: none; }

strong {
    font-weight: 800;
}

body {
    background-image:  url("@{imageUrl}/background_alu.png");
    
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Open Sans", sans-serif;
    font-size: 14px;
}

.headerFooterBg () {
    background-color: rgba(0,0,0,1);
    .bar-gradient-with-image;
}

@headerHeight: 45px;
@footerHeaderTextColor: #ffffff;

header {
    z-index: 999;
    @headerFontWeight: 500;
    @headerFontSize: 1em;
    
    .headerFooterBg;
    height: @headerHeight;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: @footerHeaderTextColor;
    
    hgroup, nav {
        .centered-content;
        position: relative;
    }
    
    h1,h2 {
        margin: 0;
        position:absolute;
        font-size: @headerFontSize;
        font-weight: @headerFontWeight;
    }
    h1 {
        left: 0px;
        top: 7px;
    }
    h2 {
        right: 0px;
        top: 15px;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        position:absolute;
        top: 7px;
        left: 100px;
        
        li {
            float: left;
            border-bottom: 4px solid black;
            margin: 0 4px;
        }
        
        a {
            display: block;
            padding: 8px .4em;
            padding-bottom: 13px;
        }
        
        a, a:link, a:visited {
            color: @footerHeaderTextColor;
            font-size: @headerFontSize;
            font-weight: @headerFontWeight;
        }
        
    }
    
}

#content {
    z-index: 1;
    padding-top: @headerHeight;
    .centered-content;
}

@footerHeight: 180px;

#wrapper {
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@footerHeight;
	
	.linear-gradient;
}

footer {
    @footerFontWeight: 200;
    .headerFooterBg;
    height: @footerHeight;
    margin-top: -@footerHeight;
    clear:both;
    
    #footer-data {
        padding-top: 1.3em;
        line-height: 1.4em;
        font-wegiht: @footerFontWeight;
        .centered-content;
        color: @footerHeaderTextColor;
    }
    #footer-data:after {
        .clear-floats;
    }
        
    address {
        font-style: normal;
        float:left;
        font-size: 0.8em;
        strong {
            font-size: 1.5em;
        }
    }
    
    #mit-link {
        float: right;
        text-align: right;
        font-size: 0.85em;
        font-weight: 700;
    }
    
    #credits {
        clear: both;
        font-size: .8em;
        text-align: center;
        padding-top: 2em;
    }
    
    a, a:link, a:visited {
        color: @footerHeaderTextColor;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

#push {
    clear: both;
    height: @footerHeight;
}

/* button links */
a.button {
    display: block;
}
a.button, 
a.button:visited, 
a.button:link,
input[type='submit'] {
    padding: .5em;
    text-align: center;
    text-decoration: none;
    color: #ffffff !important;
    background-color: @greenColor;
    cursor: pointer;
    
    .border-radius(12px);
    .box-shadow();
    outline: none;
    border: none;
}
a.button:hover {
    text-decoration: none !important;
}
a.button:active {
    cursor: pointer;
}

/* Content Styles */

#content{
    p {
        a, a:link, a:visited {
            color: darken(@blueColor, 20%);
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

#content:after {
    .clear-floats;
}

#content.main {
    @leftColWidth: 470px;
    @rightColWidth: 430px;
    @topMargin: 80px;
    
    padding-bottom: 8em;
    clear: both;
    
    article {
        margin-left: @colSpace;
        margin-top: @topMargin;
        float: left;
        width: @leftColWidth;
        
        p {
            text-align: right;
        }
    }
    nav {
        margin-right: @colSpace;
        margin-top: @topMargin;
        float: right;
        width: @rightColWidth;
        margin-bottom: 4em;
        ul {
            margin: 0;
            padding: 0;
            margin-top: 50px;
            
            li {
                .smallText;
                a,a:visited, a:link {
                    border-bottom: 2px solid;
                    color: @darkerText;
                    font-weight: 700;
                }
                a:hover {
                    color: #ffffff;
                }
            }
            
            li.support,
            li.lgs,
            li.join {
                margin-bottom: 1.6em;
            }
        }
        
    }
    p {
        .smallText;
    }
    
    section#twitter-feed {
        clear: both;
        width: @leftColWidth;
        float: left;
        
        blockquote {
            float:right;
            margin: 0;
            width: 350px;
            background-color: rgba(255, 255, 255, 0.95);
            position:relative;
            
            .border-radius(28px);
            .box-shadow();
            
            p {
                margin: 20px 30px;
                font-size: 1em;
                line-height: 1.4em;                
                span {
                    color: lighten(@lighterText, 30%);
                }
            }
        }
        
        blockquote::after {
            content: url('@{imageUrl}/speech_bubble_tail.png');
            position: absolute;
            width: 45px;
            height: 29px;
            left: 10px;
            bottom: -29px;
        }
        
        .grogo {
            clear: right;
            margin-top: -5px;
            margin-left:12px;
            
            p {
                float: right;
                margin-right: 226px;
                margin-top: 65px;
                margin-bottom: 0;
                a {
                    display: block;
                    float: right;
                    margin-right: 24px;
                    margin-top: 3px;
                }
            } 
        }
    }
    
    section#upcoming-events {
        width: @rightColWidth;
        float: right;
        margin-right: @colSpace;
        
        h2 {
            .smallHeadlineText;
            font-weight: 300;
            margin-top: .5em;
            margin-bottom: 0;
        }
        
        h3 {
            .subHeadlineText;
            margin-bottom: 0;
            margin-top: 1.3em;
        }
        
        h4 {
            .superSmallSubhead;
        }
    }
}

#content.buy {
    @leftColWidth: 400px;
    @rightColWidth: 460px;
    
    padding-bottom: 4em;
    
    article {
        padding: 0 @colSpace;
        padding-top: 3em;
        h1 {
            .largeHeadlineText;
            margin:0;
        }
        h2 {
            .taglineText;
            margin-top: 0;
            margin-bottom: 2em;
        }
    }
    
    section#preorder {
        width: @leftColWidth;
        float: left;
    }
    
    section#bundle {
        width: @rightColWidth;
        float: right;
    }
    
    section#preorder,
    section#bundle {
        h2 {
            .smallHeadlineText;
            margin-top: 0;
            margin-bottom: .4em;
        }
        .order-info {
            float: left;
            clear: left;
        }
        .order-links {
            padding-top: 7px;
            float: right;
        }
    }
    section#preorder {
        .order-info {
            .column-width(4);
        }
        .order-links {
            .column-width(3);
        }
        p {
            .largeText;
            margin: 0;
        }
    }
    a.button.preorder {
        .green-button;
        padding: 25px 0;
        .column-width(3);
        font-size: 1.29em;
        font-weight: 200;
        strong {
            display: block;
            font-weight: 600;
        }
        &:active {
            font-size: 1.29em*@activeScale;
            padding: 25px*@activeScale 0;
            .column-width(3, 0, @activeScale);
            margin: 7px (160px-160px*@activeScale)/2;
        }
    }
    
    a.button.bundle {
        .blue-button;
        font-weight: 200;
        font-size: 1.14em;
        .column-width(4);
        padding: 10px 0;
        padding-bottom: 11px;
        margin-bottom: 20px;
        strong {
            display: block;
            font-size: .9em;
            font-weight: 600;
        }
        &:active {
            font-size: 1.14em*@activeScale;
            padding: 10px*@activeScale 0;
            .column-width(4, 0, @activeScale);
            margin: 2px (220px-220px*@activeScale)/2;
            margin-bottom: 23px;
        }
    }
    
    section#bundle {
        .order-info {
            .column-width(4,3);
            padding-top: .5em;
        }
        .order-links {
            .column-width(4);
        }
        p {
            margin: 0;
            font-weight: 400;
            line-height: 1.3em;
            margin-bottom: 1em;
            strong {
                .largeText;
                font-weight: 800;
            }
            span {
                color: @redColor;
                font-size: .9em;
                vertical-align: top;
                line-height: 1.8em;
            }
        }
    }
    section#preorder:after,
    section#bundle:after {
        .clear-floats;
    }
    section#about {
        clear: both;
        padding-top: @colSpace*2;
        p {
            .normalText;
            margin: 0;
            margin-bottom: 1em;
        }
        img {
            float: right;
            margin-left: @colSpace*2;
        }
    }
    section#preorder .order-links p {
        .captionText;
        width: auto;
        float: none;
        padding-top: .7em;
    }
    
    article#previous {
        width: @leftColWidth;
        float: left;
        input[type='submit'] {
            margin-top: -1px;
        }
    }
    
    article#patron {
        width: @rightColWidth;
        float: right;
    }
    
    article.subarticle {
        padding-top: 1em;
        h1 {
            line-height: 1em;
            padding-bottom: .4em;
        }
        h2 {
            .largeText;
            margin-bottom: 0;
        }
        p {
            .column-width(4);
            .captionText;
        }
        input[type='text'] {
            .column-width(4,-8px);
            height: 40px;
            border: 1px solid rgba(58, 58, 58, .44);
            background-color: rgba(14, 14, 14, 0.03);
            font-size: 1.5em;
            padding: 0 4px;
        }
        
        a.button,
        input[type='submit'] {
            .blue-button;
            font-weight: 800;
            font-size: 14px;
            line-height: 2.1em;
            .column-width(3);
            float: right;
        }
        a.button {
            margin-top: 3px;
        }
    }
}


/* common navigation styles */

header nav ul, 
#content.main nav ul {
    list-style: none;
    
    a, a:link, a:visited {
        text-decoration: none;
    }
    
    li.buy, li.buy a{ border-color: @greenColor; }
    li.support, li.support a{ border-color: @blueColor; }
    li.seniors, li.seniors a{ border-color: @orangeColor; }
    li.lgs, li.lgs a{ border-color: @redColor; }
    li.join, li.join a{ border-color: @purpleColor; }
    li.hire, li.hire a{ border-color: @indigoColor; }
    
    li.buy a:hover, li.buy.selected a{ background-color: @greenColor; }
    li.support a:hover, li.support.selected a{ background-color: @blueColor; }
    li.seniors a:hover, li.seniors.selected a{ background-color: @orangeColor; }
    li.lgs a:hover, li.lgs.selected a{ background-color: @redColor; }
    li.join a:hover, li.join.selected a{ background-color: @purpleColor; }
    li.hire a:hover, li.hire.selected a{ background-color: @indigoColor; }
}
