{% extends 'tnq_base.html' %}
{% load static %}
{% load site_settings %}

{% block lgs_selected %}selected{% endblock %}
{% block content_class_tag %}class="lgs"{% endblock %}


{% block extra_headers %}

    <link rel="stylesheet" href="{% get_static_prefix %}jquery/smoothness/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="{% get_static_prefix %}jquery/jquery.timepicker.css" />
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.timepicker.min.js"></script>
{% endblock %}

{% block content %}

{% technique_setting "senior_year" as year %}
{% technique_setting "lg_schedule_start" as lg_schedule_start %}
{% technique_setting "lg_schedule_end" as lg_schedule_end %}

<script>
    allowable = function(date) {
        var td = date.getDay();
        if (td != 0 && td != 5 && td != 6) return false;
        return true;
    }
    $(function() {
        var date = new Date();
        var today = "Ex: " + (date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear();
        $("[id$=_0]").css('display','inline').attr('placeholder',today).datepicker({firstDay: 1, duration: "fast", numberOfMonths: 2, minDate: "{{ lg_schedule_start }}", maxDate: "{{ lg_schedule_end }}", hideIfNoPrevNextType: true, beforeShowDay: function(date){return [allowable(date),'',''];}, showButtonPanel : true});
        $("[id$=_1]").css('display','inline').attr('placeholder', '5:00pm').timepicker({minTime: "11:00am", maxTime: "9:00pm"});
    });
</script>

<article>
    <hgroup>
        <h1>Living group portrait scheduling form</h1>
        <p>Putting your dorm, fraternity, sorority, or ILG's group portrait in <em>Technique {{ year }}</em> is a great way to show off your living group's members and unique culture, and is <strong>completely free.</strong></p>
        <p>If you are the president, hall chair, or designated representative of your living group, please fill out the following information so that we can schedule the portrait. On the day of the portrait, please assemble the members of your group, and one or two of our photographers will be setup our professional equipment and take the portrait.</p>
    </hgroup>
    
    <section id = "lg_form">
        <form action = {% url lg_signup %} method = "post">{% csrf_token %}
            {{ form.non_field_errors }}
            <fieldset>
                <legend>Contact information</legend>
                <p></p>
                <label for="id_{{ form.rep_name.html_name }}">Your name <span><strong class="required">(required)</strong>:</span></label>
                {{ form.rep_name.errors }}
                {{ form.rep_name }}
                
                <label for="id_{{ form.rep_email.html_name }}">Your email <span><strong class="required">(required)</strong>:</span></label>
                {{ form.rep_email.errors }}
                {{ form.rep_email }}
                
                <label for="id_{{ form.rep_phone.html_name }}">Your phone number <span><strong class="required">(required)</strong>:</span></label>
                {{ form.rep_phone.errors }}
                {{ form.rep_phone }}
            </fieldset>
        
            <fieldset>
                <legend>Portrait information</legend>
    
                <label for="id_{{ form.lg_name.html_name }}">Living Group name <span><strong>as you want it to appear in the book </strong><strong class="required">(required)</strong>:</span></label>
                {{ form.lg_name.errors }}
                {{ form.lg_name }}
        
                
                <label for="id_{{ form.location.html_name }}">Please describe the portrait location. We bring our own lights, so the portrait can be taken indoors or outdoors. If the location is off campus, provide the address and also arrange transportation from the Student Center. <span><strong class="required">(required)</strong>:</span></label>
                {{ form.location.errors }}
                {{ form.location }}        
            </fieldset>
        
            <fieldset>
                <legend>Scheduling</legend>
    
                <p>Please choose three dates and times for your portrait.  We will try our best to accommodate your choices, but keep in mind that we have a busy schedule of groups to photograph.  Each session will last approximately 20 minutes.  We prefer to take the portraits on Fridays, Saturdays, and Sundays.</p>
                <label for="id_{{ form.first_choice.html_name }}">First choice <span><strong class="required">(required)</strong>:</span></label>
                {{ form.first_choice.errors }}
                {{ form.first_choice }}

                <label for="id_{{ form.second_choice.html_name }}">Second choice <span><strong class="required">(required)</strong>:</span></label>
                {{ form.second_choice.errors }}
                {{ form.second_choice }}
                
                <label for="id_{{ form.third_choice.html_name }}">Third choice <span><strong class="required">(required)</strong>:</span></label>
                {{ form.third_choice.errors }}
                {{ form.third_choice }}
                <p></p>
                <label for="id_{{ form.alternative_choice.html_name }}">If the best time to take the photo is on a weekday afternoon or night, please give the date and possible times: </label>
                {{ form.alternative_choice.errors }}
                {{ form.alternative_choice }}
            </fieldset>
            <fieldset>
                <legend>Comments / Concerns </legend>
                {{ form.comments.errors }}
                {{ form.comments }}
            </fieldset>
            <fieldset style="position:relative;top:0px;height:350px;">
                {{ form.captcha.errors }}          
                {{ form.captcha }}          
                <input type="reset" value="Reset" />
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
    </section>
</article>

{% endblock %}