/*  Technique Stylesheet
    copyright 2011 Technique */
/** page Structure **/
html {
  height: 100%;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
img {
  border: none;
}
strong {
  font-weight: 800;
}
body {
  background-image: url("../../images/background_alu.png");
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Open Sans", sans-serif;
  font-size: 14px;
}
header {
  z-index: 999;
  background-color: #000000;
  background-image: url("../../images/dark_stripes.png");
  background-image: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.25, rgba(0, 0, 0, 0)), color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(1, #000000)), url("../../images/dark_stripes.png");
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
}
header hgroup, header nav {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
header h1, header h2 {
  margin: 0;
  position: absolute;
  font-size: 1em;
  font-weight: 500;
}
header h1 {
  left: 0px;
  top: 7px;
}
header h2 {
  right: 0px;
  top: 15px;
}
header nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 7px;
  left: 100px;
}
header nav ul li {
  float: left;
  border-bottom: 4px solid black;
  margin: 0 4px;
}
header nav ul a {
  display: block;
  padding: 8px .4em;
  padding-bottom: 13px;
}
header nav ul a, header nav ul a:link, header nav ul a:visited {
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
}
#content {
  z-index: 1;
  padding-top: 45px;
  width: 960px;
  margin: 0 auto;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px;
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.69)), color-stop(1, rgba(255, 255, 255, 0)));
}
footer {
  background-color: #000000;
  background-image: url("../../images/dark_stripes.png");
  background-image: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.25, rgba(0, 0, 0, 0)), color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(1, #000000)), url("../../images/dark_stripes.png");
  height: 180px;
  margin-top: -180px;
  clear: both;
}
footer #footer-data {
  padding-top: 1.3em;
  line-height: 1.4em;
  font-wegiht: 200;
  width: 960px;
  margin: 0 auto;
  color: #ffffff;
}
footer #footer-data:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
footer address {
  font-style: normal;
  float: left;
  font-size: 0.8em;
}
footer address strong {
  font-size: 1.5em;
}
footer #mit-link {
  float: right;
  text-align: right;
  font-size: 0.85em;
  font-weight: 700;
}
footer #credits {
  clear: both;
  font-size: .8em;
  text-align: center;
  padding-top: 2em;
}
footer a, footer a:link, footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
#push {
  clear: both;
  height: 180px;
}
/* button links */
a.button {
  display: block;
}
a.button,
a.button:visited,
a.button:link,
input[type='submit'] {
  padding: .5em;
  text-align: center;
  text-decoration: none;
  color: #ffffff !important;
  background-color: #79ba01;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
}
a.button:hover {
  text-decoration: none !important;
}
a.button:active {
  cursor: pointer;
}
/* Content Styles */
#content p a, #content p a:link, #content p a:visited {
  color: #075584;
  text-decoration: none;
}
#content p a:hover {
  text-decoration: underline;
}
#content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content.main {
  padding-bottom: 8em;
  clear: both;
}
#content.main article {
  margin-left: 10px;
  margin-top: 80px;
  float: left;
  width: 470px;
}
#content.main article p {
  text-align: right;
}
#content.main nav {
  margin-right: 10px;
  margin-top: 80px;
  float: right;
  width: 430px;
  margin-bottom: 4em;
}
#content.main nav ul {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
#content.main nav ul li {
  font-size: .88em;
  font-weight: 400;
  line-height: 1.6em;
  color: #595959;
}
#content.main nav ul li a, #content.main nav ul li a:visited, #content.main nav ul li a:link {
  border-bottom: 2px solid;
  color: #181818;
  font-weight: 700;
}
#content.main nav ul li a:hover {
  color: #ffffff;
}
#content.main nav ul li.support, #content.main nav ul li.lgs, #content.main nav ul li.join {
  margin-bottom: 1.6em;
}
#content.main p {
  font-size: .88em;
  font-weight: 400;
  line-height: 1.6em;
  color: #595959;
}
#content.main section#twitter-feed {
  clear: both;
  width: 470px;
  float: left;
}
#content.main section#twitter-feed blockquote {
  float: right;
  margin: 0;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
#content.main section#twitter-feed blockquote p {
  margin: 20px 30px;
  font-size: 1em;
  line-height: 1.4em;
}
#content.main section#twitter-feed blockquote p span {
  color: #a5a5a5;
}
#content.main section#twitter-feed blockquote::after {
  content: url('../../images/speech_bubble_tail.png');
  position: absolute;
  width: 45px;
  height: 29px;
  left: 10px;
  bottom: -29px;
}
#content.main section#twitter-feed .grogo {
  clear: right;
  margin-top: -5px;
  margin-left: 12px;
}
#content.main section#twitter-feed .grogo p {
  float: right;
  margin-right: 226px;
  margin-top: 65px;
  margin-bottom: 0;
}
#content.main section#twitter-feed .grogo p a {
  display: block;
  float: right;
  margin-right: 24px;
  margin-top: 3px;
}
#content.main section#upcoming-events {
  width: 430px;
  float: right;
  margin-right: 10px;
}
#content.main section#upcoming-events h2 {
  font-size: 1.86em;
  font-weight: 400;
  line-height: 1.2em;
  color: #181818;
  font-weight: 300;
  margin-top: .5em;
  margin-bottom: 0;
}
#content.main section#upcoming-events h3 {
  font-size: 1.29em;
  font-weight: 300;
  line-height: 1.2em;
  color: #181818;
  margin-bottom: 0;
  margin-top: 1.3em;
}
#content.main section#upcoming-events h4 {
  font-size: 0.8em;
  font-weight: 700;
  color: #595959;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
}
#content.buy {
  padding-bottom: 4em;
}
#content.buy article {
  padding: 0 10px;
  padding-top: 3em;
}
#content.buy article h1 {
  font-size: 3.6em;
  font-weight: 200;
  line-height: 1.2em;
  color: #595959;
  margin: 0;
}
#content.buy article h2 {
  font-size: 1em;
  font-weight: 700;
  color: #595959;
  margin-top: 0;
  margin-bottom: 2em;
}
#content.buy section#preorder {
  width: 400px;
  float: left;
}
#content.buy section#bundle {
  width: 460px;
  float: right;
}
#content.buy section#preorder h2, #content.buy section#bundle h2 {
  font-size: 1.86em;
  font-weight: 400;
  line-height: 1.2em;
  color: #181818;
  margin-top: 0;
  margin-bottom: .4em;
}
#content.buy section#preorder .order-info, #content.buy section#bundle .order-info {
  float: left;
  clear: left;
}
#content.buy section#preorder .order-links, #content.buy section#bundle .order-links {
  padding-top: 7px;
  float: right;
}
#content.buy section#preorder .order-info {
  width: 220px;
}
#content.buy section#preorder .order-links {
  width: 160px;
}
#content.buy section#preorder p {
  font-size: 1.57em;
  font-weight: 200;
  color: #181818;
  line-height: 1.22em;
  margin: 0;
}
#content.buy a.button.preorder {
  background-image: -o-linear-gradient(top, #79ba01 0%, #5f9101 100%);
  background-image: -moz-linear-gradient(top, #79ba01 0%, #5f9101 100%);
  background-image: -ms-linear-gradient(top, #79ba01 0%, #5f9101 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #79ba01), color-stop(1, #5f9101));
  padding: 25px 0;
  width: 160px;
  font-size: 1.29em;
  font-weight: 200;
}
#content.buy a.button.preorder strong {
  display: block;
  font-weight: 600;
}
#content.buy a.button.preorder:active {
  font-size: 1.161em;
  padding: 22.5px 0;
  width: 144px;
  margin: 7px 8px;
}
#content.buy a.button.bundle {
  background-image: -o-linear-gradient(top, #0c93e5 0%, #0a7abe 100%);
  background-image: -moz-linear-gradient(top, #0c93e5 0%, #0a7abe 100%);
  background-image: -ms-linear-gradient(top, #0c93e5 0%, #0a7abe 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c93e5), color-stop(1, #0a7abe));
  font-weight: 200;
  font-size: 1.14em;
  width: 220px;
  padding: 10px 0;
  padding-bottom: 11px;
  margin-bottom: 20px;
}
#content.buy a.button.bundle strong {
  display: block;
  font-size: .9em;
  font-weight: 600;
}
#content.buy a.button.bundle:active {
  font-size: 1.026em;
  padding: 9px 0;
  width: 198px;
  margin: 2px 11px;
  margin-bottom: 23px;
}
#content.buy section#bundle .order-info {
  width: 226px;
  padding-top: .5em;
}
#content.buy section#bundle .order-links {
  width: 220px;
}
#content.buy section#bundle p {
  margin: 0;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 1em;
}
#content.buy section#bundle p strong {
  font-size: 1.57em;
  font-weight: 200;
  color: #181818;
  line-height: 1.22em;
  font-weight: 800;
}
#content.buy section#bundle p span {
  color: #e40d0d;
  font-size: .9em;
  vertical-align: top;
  line-height: 1.8em;
}
#content.buy section#preorder:after, #content.buy section#bundle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content.buy section#about {
  clear: both;
  padding-top: 20px;
}
#content.buy section#about p {
  font-size: 0.93em;
  font-weight: 400;
  line-height: 1.6em;
  color: #595959;
  margin: 0;
  margin-bottom: 1em;
}
#content.buy section#about img {
  float: right;
  margin-left: 20px;
}
#content.buy section#preorder .order-links p {
  font-size: .88em;
  font-weight: 400;
  line-height: 1.6em;
  color: #595959;
  line-height: 1.3em;
  width: auto;
  float: none;
  padding-top: .7em;
}
#content.buy article#previous {
  width: 400px;
  float: left;
}
#content.buy article#previous input[type='submit'] {
  margin-top: -1px;
}
#content.buy article#patron {
  width: 460px;
  float: right;
}
#content.buy article.subarticle {
  padding-top: 1em;
}
#content.buy article.subarticle h1 {
  line-height: 1em;
  padding-bottom: .4em;
}
#content.buy article.subarticle h2 {
  font-size: 1.57em;
  font-weight: 200;
  color: #181818;
  line-height: 1.22em;
  margin-bottom: 0;
}
#content.buy article.subarticle p {
  width: 220px;
  font-size: .88em;
  font-weight: 400;
  line-height: 1.6em;
  color: #595959;
  line-height: 1.3em;
}
#content.buy article.subarticle input[type='text'] {
  width: 204px;
  height: 40px;
  border: 1px solid rgba(58, 58, 58, 0.44);
  background-color: rgba(14, 14, 14, 0.03);
  font-size: 1.5em;
  padding: 0 4px;
}
#content.buy article.subarticle a.button, #content.buy article.subarticle input[type='submit'] {
  background-image: -o-linear-gradient(top, #0c93e5 0%, #0a7abe 100%);
  background-image: -moz-linear-gradient(top, #0c93e5 0%, #0a7abe 100%);
  background-image: -ms-linear-gradient(top, #0c93e5 0%, #0a7abe 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c93e5), color-stop(1, #0a7abe));
  font-weight: 800;
  font-size: 14px;
  line-height: 2.1em;
  width: 160px;
  float: right;
}
#content.buy article.subarticle a.button {
  margin-top: 3px;
}
/* common navigation styles */
header nav ul, #content.main nav ul {
  list-style: none;
}
header nav ul a,
#content.main nav ul a,
header nav ul a:link,
#content.main nav ul a:link,
header nav ul a:visited,
#content.main nav ul a:visited {
  text-decoration: none;
}
header nav ul li.buy,
#content.main nav ul li.buy,
header nav ul li.buy a,
#content.main nav ul li.buy a {
  border-color: #79ba01;
}
header nav ul li.support,
#content.main nav ul li.support,
header nav ul li.support a,
#content.main nav ul li.support a {
  border-color: #0c93e5;
}
header nav ul li.seniors,
#content.main nav ul li.seniors,
header nav ul li.seniors a,
#content.main nav ul li.seniors a {
  border-color: #ff8b03;
}
header nav ul li.lgs,
#content.main nav ul li.lgs,
header nav ul li.lgs a,
#content.main nav ul li.lgs a {
  border-color: #e40d0d;
}
header nav ul li.join,
#content.main nav ul li.join,
header nav ul li.join a,
#content.main nav ul li.join a {
  border-color: #6927a6;
}
header nav ul li.hire,
#content.main nav ul li.hire,
header nav ul li.hire a,
#content.main nav ul li.hire a {
  border-color: #1557a2;
}
header nav ul li.buy a:hover,
#content.main nav ul li.buy a:hover,
header nav ul li.buy.selected a,
#content.main nav ul li.buy.selected a {
  background-color: #79ba01;
}
header nav ul li.support a:hover,
#content.main nav ul li.support a:hover,
header nav ul li.support.selected a,
#content.main nav ul li.support.selected a {
  background-color: #0c93e5;
}
header nav ul li.seniors a:hover,
#content.main nav ul li.seniors a:hover,
header nav ul li.seniors.selected a,
#content.main nav ul li.seniors.selected a {
  background-color: #ff8b03;
}
header nav ul li.lgs a:hover,
#content.main nav ul li.lgs a:hover,
header nav ul li.lgs.selected a,
#content.main nav ul li.lgs.selected a {
  background-color: #e40d0d;
}
header nav ul li.join a:hover,
#content.main nav ul li.join a:hover,
header nav ul li.join.selected a,
#content.main nav ul li.join.selected a {
  background-color: #6927a6;
}
header nav ul li.hire a:hover,
#content.main nav ul li.hire a:hover,
header nav ul li.hire.selected a,
#content.main nav ul li.hire.selected a {
  background-color: #1557a2;
}
