html {
  height: 100%;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
img {
  border: none;
}
strong {
  font-weight: 800;
}
body {
  background-image: url("../../images/background_alu.png");
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%), url("../../images/background_alu.png");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%), url("../../images/background_alu.png");
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%), url("../../images/background_alu.png");
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.69)), color-stop(1, rgba(255, 255, 255, 0))), url("../../images/background_alu.png");
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Open Sans", sans-serif;
  font-size: 14px;
}
header {
  background-image: url("../../images/dark_stripes.png");
  background-image: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.25, rgba(0, 0, 0, 0)), color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(1, #000000)), url("../../images/dark_stripes.png");
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
}
header hgroup, header nav {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
header h1, header h2 {
  margin: 0;
  position: absolute;
  font-size: 1em;
  font-weight: 500;
}
header h1 {
  left: 0px;
  top: 7px;
}
header h2 {
  right: 0px;
  top: 15px;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 7px;
  left: 100px;
}
header nav ul li {
  float: left;
  border-bottom: 4px solid black;
  margin: 0 4px;
}
header nav ul a {
  display: block;
  padding: 8px .4em;
  padding-bottom: 13px;
}
header nav ul a, header nav ul a:link, header nav ul a:visited {
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
}
header nav ul li.buy {
  border-color: #79ba01;
}
header nav ul li.support {
  border-color: #0c93e5;
}
header nav ul li.seniors {
  border-color: #ff8b03;
}
header nav ul li.lgs {
  border-color: #e40d0d;
}
header nav ul li.join {
  border-color: #6927a6;
}
header nav ul li.hire {
  border-color: #1557a2;
}
header nav ul li.buy a:hover, header nav ul li.buy.selected a {
  background-color: #79ba01;
}
header nav ul li.support a:hover, header nav ul li.support.selected a {
  background-color: #0c93e5;
}
header nav ul li.seniors a:hover, header nav ul li.seniors.selected a {
  background-color: #ff8b03;
}
header nav ul li.lgs a:hover, header nav ul li.lgs.selected a {
  background-color: #e40d0d;
}
header nav ul li.join a:hover, header nav ul li.join.selected a {
  background-color: #6927a6;
}
header nav ul li.hire a:hover, header nav ul li.hire.selected a {
  background-color: #1557a2;
}
#content {
  height: 100%;
  width: 960px;
  margin: 0 auto;
}
footer {
  background-image: url("../../images/dark_stripes.png");
  background-image: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #000000 100%), url("../../images/dark_stripes.png");
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.25, rgba(0, 0, 0, 0)), color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(1, #000000)), url("../../images/dark_stripes.png");
  height: 10em;
  margin-top: -10em;
}
footer #footer-data {
  font-size: 0.83em;
  line-height: 1.6em;
  font-wegiht: 200;
  width: 960px;
  margin: 0 auto;
  color: #ffffff;
  position: relative;
}
footer address {
  font-style: normal;
  position: absolute;
  top: 20px;
  left: 0px;
}
footer address strong {
  font-size: 1.2em;
}
footer #mit-link {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 0px;
}
footer a, footer a:link, footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
#push {
  clear: both;
  height: 10em;
}
