{% extends "admin/change_list.html" %}

    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              Add Purchaser
            </a>
          </li>
          <li>
            <a href="{% url orders_upload %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              Upload CSV file
            </a>
          </li>
        </ul>
      {% endif %}
    {% endblock %}
