{% extends 'tnq_base.html' %}
{% load site_settings %}

{% block seniors_selected %}selected{% endblock %}
{% block content_class_tag %}class="seniors"{% endblock %}

{% block content%}
<article>
    <hgroup>
        <h1>Sorry!</h1>
        <h2>Senior Info Entries are Now Closed</h2>
    </hgroup>

    <p>All information has now been entered into the book, and we cannot accept any more submissions.</p>

    <p>Want to see your previous submissions?  You can check them <a href="{% url senior_email %}">here</a>.</p>

</article>
{% endblock %}
