{% extends 'tnq_base.html' %}
{% load site_settings %}

{% block seniors_selected %}selected{% endblock %}
{% block content_class_tag %}class="seniors"{% endblock %}

{% block content %}
<article>
<h1>Check Your Information</h1>
<p class="info">If you have already submitted your Senior information for inclusion in <em>Technique {% tnq_setting 'tnq_year' %}</em> <a href={% url enter_senior_info %}>here</a>, you can re-send the confirmation email by entering your Kerberos name (without '@mit.edu'!) in the form below:</p>

<form action={% url submit_senior_email %} method="post">{% csrf_token %}
    <div class="formSubSection">
        <div class="fieldWrapper">
            <p class="fieldSuperText">Kerberos:</p>
            {{ form.kerberos.errors }}
            {{ form.kerberos }}
            <p class="fieldSubText">Ex: "tbeaver"</p>
        </div>
        <div class="fieldWrapper">
            <p></p>
            <input type="submit" value="Resend Confirmation" />
        </div>
    </div>
</form>

</article>

{% endblock %}
