{% extends 'tnq_base.html' %}
{% load static %}
{% load site_settings %}

{% block seniors_selected %}selected{% endblock %}
{% block content_class_tag %}class="seniors"{% endblock %}

{% block extra_headers %}
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.1.min.js"></script>
    <script src="{% get_static_prefix %}js/seniors.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content%}
<article>
    <hgroup>
        <h1>Senior Biographical Information</h1>
        <h2>What do you want to have appear next to your photo?</h2>
    </hgroup>
    <aside>
        <p>Note: This form is for filling out your biographical information to go with your senior photo in <em>Technique {% tnq_setting 'tnq_year' %}</em>. It is NOT for scheduling your senior portrait&mdash;for that, please go back to the <a href="{% url tnq_seniors %}">seniors page</a>.</p>
        <p>Please fill out as many fields as you can.  You'll be able to review this information after you submit it, but changing it is somewhat of a hassle.</p>
        <p>If you want, you can see <a href="{% url senior_email %}"> your previously submitted answers</a>.</p>
        <p>If you have any questions or concerns please email us at <a href="mailto:tnq-seniors@mit.edu">tnq-seniors@mit.edu</a>.
    </aside>
    <section id="senior_bio_form">
        <form action={% url submit_senior_info %} method="post">{% csrf_token %}
            {{ seniorFormset.non_field_errors }}
            <fieldset id="basic_info">
                <legend>The Basics</legend>
                
                <label for="id_{{ seniorFormset.name.html_name }}">{{ seniorFormset.name.label }}, <span><strong>exactly</strong> as you want it to appear in the book <strong class="required">(required)</strong>:</span></label>
                {{ seniorFormset.name.errors }}
                {{ seniorFormset.name }}
                
                <input type="checkbox" id="show_name_comments" /><label for="show_name_comments">My name has special characters or accents (example: Ren&eacute;)</label>
                
                <label for="id_{{ seniorFormset.name_comments.html_name }}">{{ seniorFormset.name_comments.label }}:<br /><span>Please don’t just enter in the character. We want to get your name perfectly.</span></label>
                {{ seniorFormset.name_comments.errors }}
                {{ seniorFormset.name_comments }}
                
                <label for="id_{{ seniorFormset.sort_letter.html_name }}">{{ seniorFormset.sort_letter.label }},<span> (Timothy Beaver IV would enter B) used to sort your name <strong class="required">(required)</strong>:</span></label>
                {{ seniorFormset.sort_letter.errors }}
                {{ seniorFormset.sort_letter }}
                
                <label for="id_{{ seniorFormset.home_town.html_name }}">{{ seniorFormset.home_town.label }} <strong class="required">(required)</strong>:</label>
                {{ seniorFormset.home_town.errors }}
                {{ seniorFormset.home_town }}
                
                
                <label for="id_{{ seniorFormset.home_state_or_country.html_name }}">{{ seniorFormset.home_state_or_country.label }} <strong class="required">(required)</strong>:</label>
                {{ seniorFormset.home_state_or_country.errors }}
                {{ seniorFormset.home_state_or_country }}
                
            </fieldset>
            <fieldset id="mit_info">
                <legend>MIT Information</legend>
                
                <label for="id_{{ seniorFormset.kerberos.html_name }}">{{ seniorFormset.kerberos.label }} <strong class="required">(required)</strong>:</label>
                {{ seniorFormset.kerberos.errors }}
                {{ seniorFormset.kerberos }}
                
                <label for="id_{{ seniorFormset.major.html_name }}">{{ seniorFormset.major.label }} <strong class="required">(required)</strong>:</label>
                {{ seniorFormset.major.errors }}
                {{ seniorFormset.major }}
                
                <label for="id_{{ seniorFormset.minor.html_name }}">{{ seniorFormset.minor.label }}:</label>
                {{ seniorFormset.minor.errors }}
                {{ seniorFormset.minor }}
                
                <label for="id_{{ seniorFormset.minor.html_name }}">{{ seniorFormset.lg.label }}:</label>
                {{ seniorFormset.lg.errors }}
                {{ seniorFormset.lg }}
            </fieldset>
            <fieldset id="quote_info">
                <legend>Favorite Quote</legend>
                {{ seniorFormset.quote.errors }}
                {{ seniorFormset.quote }}
                
                <label for="id_{{ seniorFormset.quote_author.html_name }}">{{ seniorFormset.quote_author.label }}:</label>
                {{ seniorFormset.quote_author.errors }}
                {{ seniorFormset.quote_author }}
            </fieldset>
            {{ activityFormset.management_form }}
            <div style="display:none;" id="form_template">
                <fieldset class="activity_section" id="activity_section__prefix__">
                    <legend>Activity #__prefix2__</legend>
                    <label for="id_{{ activityFormset.empty_form.title.html_name }}">{{ activityFormset.empty_form.title.label }}:</label>
                    {{ activityFormset.empty_form.title.errors }}
                    {{ activityFormset.empty_form.title }}
                    
                    <label for="id_{{ activityFormset.empty_form.years.html_name }}">{{ activityFormset.empty_form.years.label }} (1-freshman, 2-sophomore, 3-junior, etc.) please separate with spaces:</label>
                    {{ activityFormset.empty_form.years.errors }}
                    {{ activityFormset.empty_form.years }}
                    
                    <label for="id_{{ activityFormset.empty_form.offices.html_name }}">{{ activityFormset.empty_form.offices.label }}:</label>
                    {{ activityFormset.empty_form.offices.errors }}
                    {{ activityFormset.empty_form.offices }}
                </fieldset>
            </div>
            <div id="forms">
                {% for act_form in activityFormset.forms %}
                    <fieldset class="activity_section" id="activity_section0">
                        <legend>Activity #{{ forloop.counter }}</legend>
                        <label for="id_{{ act_form.title.html_name }}">{{ act_form.title.label }}:</label>
                        {{ act_form.title.errors }}
                        {{ act_form.title }}
                        
                        <label for="id_{{ act_form.years.html_name }}">{{ act_form.years.label }} (1-freshman, 2-sophomore, 3-junior, etc.) please separate with spaces:</label>
                        {{ act_form.years.errors }}
                        {{ act_form.years }}
                        
                        <label for="id_{{ act_form.offices.html_name }}">{{ act_form.offices.label }}:</label>
                        {{ act_form.offices.errors }}
                        {{ act_form.offices }}
                    </fieldset><!-- end activitysection0 -->
                {% endfor %}
            </div>
            
            
            <input type="button" value="Add another activity" id="add_button" />
            <input type="button" value="Remove last activity" id="remove_button" />
            
            <input type="submit" value="Submit" />
        </form>
    </section>
</article>
{% endblock %}
