{% extends 'tnq_base.html' %}
{% load static %}
{% load site_settings %}

{% block scans_selected %}selected{% endblock %}

{% block content_class_tag %}class="scans"{% endblock %}

{% block extra_headers %}
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/lg_fancybox.js"></script>
    <link rel="stylesheet" href="{% get_static_prefix %}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
{% technique_setting 'tnq_year' as tnq_year %}
<article>
    <hgroup>
      <h1>Digital Editions of Past <em>Technique</em></h1>
      <h2>We've started scanning all of our old book; check them out here for free.  More years will be coming soon!</h2>
    </hgroup>
    
    <section>
      <div class="imagerow">
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1885_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1885_Technique.jpg" alt="Technique 1885 Cover" width = 220 /> <span>Technique 1885</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1886_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1886_Technique.jpg" alt="Technique 1886 Cover" width = 220 /> <span>Technique 1886</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1887_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1887_Technique.jpg" alt="Technique 1887 Cover" width = 220 /> <span>Technique 1887</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1889_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1889_Technique.jpg" alt="Technique 1889 Cover" width = 220 /> <span>Technique 1889</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1890_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1890_Technique.jpg" alt="Technique 1890 Cover" width = 220 /> <span>Technique 1890</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1892_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1892_Technique.jpg" alt="Technique 1892 Cover" width = 220 /> <span>Technique 1892</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1893_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1893_Technique.jpg" alt="Technique 1893 Cover" width = 220 /> <span>Technique 1893</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1894_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1894_Technique.jpg" alt="Technique 1894 Cover" width = 220 /> <span>Technique 1894</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1895_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1895_Technique.jpg" alt="Technique 1895 Cover" width = 220 /> <span>Technique 1895</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1896_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1896_Technique.jpg" alt="Technique 1896 Cover" width = 220 /> <span>Technique 1896</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1897_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1897_Technique.jpg" alt="Technique 1897 Cover" width = 220 /> <span>Technique 1897</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1898_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1898_Technique.jpg" alt="Technique 1898 Cover" width = 220 /> <span>Technique 1898</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1899_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1899_Technique.jpg" alt="Technique 1899 Cover" width = 220 /> <span>Technique 1899</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1900_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1900_Technique.jpg" alt="Technique 1900 Cover" width = 220 /> <span>Technique 1900</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1901_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1901_Technique.jpg" alt="Technique 1901 Cover" width = 220 /> <span>Technique 1901</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1902_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1902_Technique.jpg" alt="Technique 1902 Cover" width = 220 /> <span>Technique 1902</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1903_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1903_Technique.jpg" alt="Technique 1903 Cover" width = 220 /> <span>Technique 1903</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1904_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1904_Technique.jpg" alt="Technique 1904 Cover" width = 220 /> <span>Technique 1904</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1905_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1905_Technique.jpg" alt="Technique 1905 Cover" width = 220 /> <span>Technique 1905</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1906_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1906_Technique.jpg" alt="Technique 1906 Cover" width = 220 /> <span>Technique 1906</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1907_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1907_Technique.jpg" alt="Technique 1907 Cover" width = 220 /> <span>Technique 1907</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1908_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1908_Technique.jpg" alt="Technique 1908 Cover" width = 220 /> <span>Technique 1908</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1909_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1909_Technique.jpg" alt="Technique 1909 Cover" width = 220 /> <span>Technique 1909</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1910_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1910_Technique.jpg" alt="Technique 1910 Cover" width = 220 /> <span>Technique 1910</span> </a> </div>
      </div>


      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1911_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1911_Technique.jpg" alt="Technique 1911 Cover" width = 220 /> <span>Technique 1911</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1912_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1912_Technique.jpg" alt="Technique 1912 Cover" width = 220 /> <span>Technique 1912</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1913_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1913_Technique.jpg" alt="Technique 1913 Cover" width = 220 /> <span>Technique 1913</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1914_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1914_Technique.jpg" alt="Technique 1914 Cover" width = 220 /> <span>Technique 1914</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1915_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1915_Technique.jpg" alt="Technique 1915 Cover" width = 220 /> <span>Technique 1915</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1916_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1916_Technique.jpg" alt="Technique 1916 Cover" width = 220 /> <span>Technique 1916</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1917_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1917_Technique.jpg" alt="Technique 1917 Cover" width = 220 /> <span>Technique 1917</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1918_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1918_Technique.jpg" alt="Technique 1918 Cover" width = 220 /> <span>Technique 1918</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1919_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1919_Technique.jpg" alt="Technique 1919 Cover" width = 220 /> <span>Technique 1919</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1920_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1920_Technique.jpg" alt="Technique 1920 Cover" width = 220 /> <span>Technique 1920</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1921_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1921_Technique.jpg" alt="Technique 1921 Cover" width = 220 /> <span>Technique 1921</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1922_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1922_Technique.jpg" alt="Technique 1922 Cover" width = 220 /> <span>Technique 1922</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1923_Technique.pdf">       <img src="{% get_static_prefix %}images/covers/1923_Technique.jpg" alt="Technique 1923 Cover" width = 220 /> <span>Technique 1923</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1924_Technique_Vol38.pdf"> <img src="{% get_static_prefix %}images/covers/1924_Technique_Vol38.jpg" alt="Technique 1924 Vol 38 Cover" width = 220 /> <span>Technique 1924 (Vol 38)</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1924_Technique_Vol39.pdf"> <img src="{% get_static_prefix %}images/covers/1924_Technique_Vol39.jpg" alt="Technique 1924 Vol 39 Cover" width = 220 /> <span>Technique 1924 (Vol 39)</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1925_Technique.pdf">       <img src="{% get_static_prefix %}images/covers/1925_Technique.jpg" alt="Technique 1925 Cover" width = 220 /> <span>Technique 1925</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1926_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1926_Technique.jpg" alt="Technique 1926 Cover" width = 220 /> <span>Technique 1926</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1927_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1927_Technique.jpg" alt="Technique 1927 Cover" width = 220 /> <span>Technique 1927</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1928_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1928_Technique.jpg" alt="Technique 1928 Cover" width = 220 /> <span>Technique 1928</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1929_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1929_Technique.jpg" alt="Technique 1929 Cover" width = 220 /> <span>Technique 1929</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1930_Technique.pdf"> <img src="{% get_static_prefix %}images/covers/1930_Technique.jpg" alt="Technique 1930 Cover" width = 220 /> <span>Technique 1930</span> </a> </div>
      </div>

    </section>
</article>
<script type="text/javascript" src="{% get_static_prefix %}js/retina-1.1.0.js"></script>
{% endblock %}