{% extends 'tnq_base.html' %}
{% load static %}
{% load site_settings %}

{% block content_class_tag %}class="scans"{% endblock %}

{% block extra_headers %}
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/lg_fancybox.js"></script>
    <link rel="stylesheet" href="{% get_static_prefix %}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
{% technique_setting 'tnq_year' as tnq_year %}
<article>
    <hgroup>
      <h1>Digital Editions of Past <em>Technique</em></h1>
      <h2>We've started scanning all of our old book; check them out here for free.  More years will be coming soon!</h2>
    </hgroup>
    
    <section>
      <div class="imagerow">
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1885_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1885_Cover.jpg" alt="Technique 1885 Cover" /> <span>Technique 1885</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1886_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1886_Cover.jpg" alt="Technique 1886 Cover" /> <span>Technique 1886</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1887_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1887_Cover.jpg" alt="Technique 1887 Cover" /> <span>Technique 1887</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1889_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1889_Cover.jpg" alt="Technique 1889 Cover" /> <span>Technique 1889</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1890_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1890_Cover.jpg" alt="Technique 1890 Cover" /> <span>Technique 1890</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1892_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1892_Cover.jpg" alt="Technique 1892 Cover" /> <span>Technique 1892</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1893_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1893_Cover.jpg" alt="Technique 1893 Cover" /> <span>Technique 1893</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1894_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1894_Cover.jpg" alt="Technique 1894 Cover" /> <span>Technique 1894</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1895_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1895_Cover.jpg" alt="Technique 1895 Cover" /> <span>Technique 1895</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1896_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1896_Cover.jpg" alt="Technique 1896 Cover" /> <span>Technique 1896</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1897_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1897_Cover.jpg" alt="Technique 1897 Cover" /> <span>Technique 1897</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1898_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1898_Cover.jpg" alt="Technique 1898 Cover" /> <span>Technique 1898</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1899_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1899_Cover.jpg" alt="Technique 1899 Cover" /> <span>Technique 1899</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1900_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1900_Cover.jpg" alt="Technique 1900 Cover" /> <span>Technique 1900</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1901_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1901_Cover.jpg" alt="Technique 1901 Cover" /> <span>Technique 1901</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1902_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1902_Cover.jpg" alt="Technique 1902 Cover" /> <span>Technique 1902</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1903_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1903_Cover.jpg" alt="Technique 1903 Cover" /> <span>Technique 1903</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1904_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1904_Cover.jpg" alt="Technique 1904 Cover" /> <span>Technique 1904</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1905_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1905_Cover.jpg" alt="Technique 1905 Cover" /> <span>Technique 1905</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1906_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1906_Cover.jpg" alt="Technique 1906 Cover" /> <span>Technique 1906</span> </a> </div>
      </div>
      <div class="imagerow">      
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1907_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1907_Cover.jpg" alt="Technique 1907 Cover" /> <span>Technique 1907</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1908_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1908_Cover.jpg" alt="Technique 1908 Cover" /> <span>Technique 1908</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1909_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1909_Cover.jpg" alt="Technique 1909 Cover" /> <span>Technique 1909</span> </a> </div>
          <div> <a class="cover" target="_blank" href = "http://web.mit.edu/technique/www/scans/1910_Technique_web.pdf"> <img src="{% get_static_prefix %}images/scan_covers/1910_Cover.jpg" alt="Technique 1910 Cover" /> <span>Technique 1910</span> </a> </div>
      </div>
    </section>
</article>
{% endblock %}