{% extends 'tnq_base.html' %}
{% load static %}

{% block hire_selected %}selected{% endblock %}
{% block content_class_tag %}class="hire"{% endblock %}

{% block content %}
<article>
    <hgroup>
        <h1>Hire a photographer (or two)</h1>
        <h2>If you need photography for an event, whether a photo booth or a wandering camera, our community of MIT photographers can help.</h2>
    </hgroup>
    
    <section id="booth">
        <h2>Photo Booths</h2>
        <div class="imagerow first">
            <img src="{% get_static_prefix %}images/hire_images/booth_image1.jpg" alt="Photo Booth Sample Image One" />
            <img src="{% get_static_prefix %}images/hire_images/booth_image2.jpg" alt="Photo Booth Sample Image Two" />
        </div>
        <h3>Thinking of adding some formal or informal photo fun to your next event?</h3>
        <p>Photo booths engage your guests and leave them with lasting memories.</p>
        <p>In addition to providing booth equipment (lights and backdrop), we offer on-site printing services. Your guests can leave our booth with a print in hand!</p>
        <a class="button quote" href="#">Request a Quote</a>
        <div class="imagerow second">
            <img src="{% get_static_prefix %}images/hire_images/booth_image3.jpg" alt="Photo Booth Sample Image Three" />
            <img src="{% get_static_prefix %}images/hire_images/booth_image4.jpg" alt="Photo Booth Sample Image Four" />
            <img src="{% get_static_prefix %}images/hire_images/booth_image5.jpg" alt="Photo Booth Sample Image Five" />
        </div>
    </section>
    
    <section id="event">
        <h2>Event Photographer</h2>
        <img src="{% get_static_prefix %}images/hire_images/event_image1.jpg" alt="Event Sample Image Five" />
        <h3>Some events just need documentation, we understand.</h3>
        <p>Photo booths are not for every event. For more low-key events, or events in small spaces, consider hiring a wandering camera. Our photographer will bring a camera, an on camera flash (if need be), and will be ready for anything.</p>
        <a class="button quote" href="#">Request a Quote</a>
    </section>
    
    <h2>
        Frequently Asked Questions
    </h2>
    
    <dl>
        <dt>When do Senior Sittings Generally Happen</dt>
        <dd>We schedule sittings in the spring semester for rising seniors and in the fall semester for current seniors. Please check the portrait studio’s website for available appointment dates and times.</dd>
        <dt>What should I wear?</dt>
        <dd>The portrait shows what you’re wearing down to the bottom of your ribcage. Most people dress as if they are going to a job interview or a nice restaurant. With that said, there really is no dress code (except, of course, wearing clothes). You may also bring in props if you wish. To make sure you are looking just perfect, we provide a full length mirror in our office and there are restrooms nearby.</dd>
        <dt>Lorem Ipsum</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus eros non tortor laoreet in pharetra ante molestie. Donec ut nisi nisi, quis tristique magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla justo ante, pulvinar eget commodo non, accumsan vitae velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas at orci sed nibh dignissim posuere in at sapien. Fusce viverra pharetra pharetra.</dd>
    </dl>
</hire>

{% endblock %}