{% extends 'tnq_base.html' %}
{% load static %}

{% block hire_selected %}selected{% endblock %}
{% block content_class_tag %}class="hire"{% endblock %}

{% block content %}
<article>
    <hgroup>
        <h1>Hire a photographer (or two)</h1>
        <h2>If you need photography for an event, whether a photo booth or a wandering camera, our community of MIT photographers can help.</h2>
    </hgroup>
    
    <section id="booth">
        <h2>Photo Booths</h2>
        <div class="imagerow first">
            <img src="{% get_static_prefix %}images/hire_images/booth_image1.jpg" alt="Photo Booth Sample Image One" />
            <img src="{% get_static_prefix %}images/hire_images/booth_image2.jpg" alt="Photo Booth Sample Image Two" />
        </div>
        <h3>Thinking of adding some formal or informal photo fun to your next event?</h3>
        <p>Photo booths engage your guests and leave them with lasting memories.</p>
        <p>In addition to providing booth equipment (lights and backdrop), we offer on-site printing services. Your guests can leave our booth with a print in hand!</p>
        <a class="button quote" href="mailto:technique@mit.edu?subject=Photobooth%20Quote%20Request">Request a Quote</a>
        <div class="imagerow second">
            <img src="{% get_static_prefix %}images/hire_images/booth_image3.jpg" alt="Photo Booth Sample Image Three" />
            <img src="{% get_static_prefix %}images/hire_images/booth_image4.jpg" alt="Photo Booth Sample Image Four" />
            <img src="{% get_static_prefix %}images/hire_images/booth_image5.jpg" alt="Photo Booth Sample Image Five" />
        </div>
    </section>
    
    <section id="event">
        <h2>Event Photographer</h2>
        <img src="{% get_static_prefix %}images/hire_images/event_image1.jpg" alt="Event Sample Image Five" />
        <h3>Some events just need documentation, we understand.</h3>
        <p>Photo booths are not for every event. For more low-key events, or events in small spaces, consider hiring a wandering camera. Our photographer will bring a camera, an on camera flash (if need be), and will be ready for anything.</p>
        <a class="button quote" href="mailto:technique@mit.edu?subject=Photobooth%20Quote%20Request">Request a Quote</a>
    </section>

</article>

{% endblock %}