{% extends "tnq_base.html" %}
{% load static %}
{% load site_settings %}

{% block content_class_tag %}class="main"{% endblock %}

{% block content %}
<article>
    <h1><img src="{% get_static_prefix %}images/technique_full_logo.png" width="472" height="70" alt="Technique" /></h1>
    <p>We are a student group dedicated to photography, design, and crafting 
    the yearbook of the Massachusetts Instutute of Technology.</p>
</article>
<nav>
    <ul>
        <li class="buy"><a href="{% url tnq_buy %}">Buy a book</a> to remember the days you spent at the institute.</li>
        <li class="support"><a href="{% url tnq_support %}">Support us</a> to keep the club growing and learning.</li>
        
        <li class="seniors"><a href="{% url tnq_seniors %}">Seniors,</a> get your portraits in the book.</li>
        <li class="lgs"><a href="{% url tnq_lg %}">Living groups,</a> schedule your group photo with us.</li>
        
        <li class="join"><a href="{% url tnq_join %}">Join</a> a thriving community of MIT photographers and designers. Learn how to use an SLR or a large format camera. Conquer Photoshop, Illustrator, and InDesign. Develop film. Checkout a camera. Make friends.</li>
        
        <li class="hire"><a href="{% url tnq_hire %}">Hire</a> a photographer or two from our community to photograph your next event. We provide services for photo booths and studio photography.</li>
        
        <li class="about"><a href="{% url tnq_hire %}">Learn about</a> Technique&mdash;our history and this year's managing board.</li>
    </ul>
</nav>
<section id="twitter-feed" role="twitter-feed">
    {% if tweet %}
    <blockquote>
        <p>{{ tweet|urlize }}<span> &mdash; {{ tweet_date }}</span></p>
    </blockquote>
    {% endif %}
    <div class="grogo">
        <p>Our mascot is<br />H.R.H. Grogo, a gorilla.<br /><img src="{% get_static_prefix %}images/twitter_bird.png" width="34" height="24" alt="Twitter" /> <a href="http://www.twitter.com/hrhgrogo">@hrhgrogo</a></p>
        <a href="#"><img src="{% get_static_prefix %}images/grogo.png" width="96" height="139" alt="H.R.H. Grogo" /></a>
    </div>
</section>
<section id="upcoming-events" role="upcoming-events">
    <h2>Upcoming Events</h2>
{% if events %}
{% for event in events %}
    <h3><a href="{{event.url}}">{{event.title}}</a></h3>
    <h4>{{event.start_time}}</h4>
    <p>{{event.content}}</p>
{% endfor %}
{% else %}
    <p>Oops! It looks like we don't have any scheduled events, but please come by Saturday at 1PM for our regular weekly meeting!</p>
{% endif %}
</section>
{% endblock %}