{% extends "tnq_base.html" %}
{% load static %}

{% block content_class_tag %}class="main"{% endblock %}

{% block content %}
<article>
    <h1><img src="{% get_static_prefix %}images/technique_full_logo.png" width="472" height="70" alt="Technique" /></h1>
    <p>We are a student group dedicated to photography, design, and crafting 
    the yearbook of the Massachusetts Instutute of Technology.</p>
</article>
<nav>
    <ul>
        <li class="buy"><a href="#">Buy a book</a> to remember the days you spent at the institute.</li>
        <li class="support"><a href="#">Support us</a> to keep the club growing and learning.</li>
        
        <li class="seniors"><a href="#">Seniors,</a> get your portraits in the book.</li>
        <li class="lgs"><a href="#">Living groups,</a> schedule your group photo with us.</li>
        
        <li class="join"><a href="#">Join</a> a thriving community of MIT photographers and designers. Learn how to use an SLR or a large format camera. Conquer Photoshop, Illustrator, and InDesign. Develop film. Checkout a camera. Make friends.</li>
        
        <li class="hire"><a href="#">Hire</a> a photographer or two from our community to photograph your next event. We provide services for photo booths and studio photography.</li>
    </ul>
</nav>
<section id="twitter-feed" role="twitter-feed">
    <blockquote>
        <p>I'll be teaching you how to use a camera, today at 1pm in W20-451. Be there! <span>&mdash;Sep 17</span></p>
    </blockquote>
    <div class="grogo">
        <p>Our mascot is<br />H.R.H. Grogo, a gorilla.<br /><img src="{% get_static_prefix %}images/twitter_bird.png" width="34" height="24" alt="Twitter" /> <a href="#">@hrhgrogo</a></p>
        <a href="#"><img src="{% get_static_prefix %}images/grogo.png" width="96" height="139" alt="H.R.H. Grogo" /></a>
    </div>
</section>
<section id="upcoming-events" role="upcoming-events">
    <h2>Upcoming Events</h2>
    <h3>Intro to the Book</h3>
    <h4>Saturday 24 September 2011</h4>
    <p>Learn how to get involved in designing, photo editing, and crafting the 2012 yearbook. Meet the manboard officers and get the schedule.</p>
    
    <h3>Photoshop &amp; Darkroom Tutorials. </h3>
    <h4>Saturday 1 October 2011</h4>
    <p>Learn how to get involved in designing, photo editing, and crafting the 2012 yearbook. Meet the manboard officers and get the schedule.</p>
</section>
{% endblock %}