{% extends 'tnq_base.html' %}
{% load static %}

{% block join_selected %}selected{% endblock %}
{% block content_class_tag %}class="join"{% endblock %}

{% block content %}
<article>
    <hgroup>
        <h1>Join the Technique community</h1>
        <h2>We love taking pictures at Technique. Take pictures with us&mdash;then we'd look a lot less creepy! We also like beautifully designed things.</h2>
    </hgroup>
    
    <section id="visit">
        <hgroup>
            <h2>Visit us!</h2>
            <h3>Our office is in the Student Center, room W20-451.</h3>
        </hgroup>
        <p>We have regular meetings every <strong>Saturday at 1pm in W20-451</strong> with free food, and we have office hours on <strong>Saturday at 2pm</strong>. Come learn about SLRs, develop film, process photos in Photoshop, and take portraits in our studio. We also just like hanging out in our comfortable and food-stocked office, and there usually people around throughout the week.</p>
        <p>Our editing office houses several Macs all running Adobe Create Suite, one of which boasts a beautiful color-calibrated 30-inch monitor. We also have a 10 TB RAID server with additional offsite backup, as well as a 24 inch large format printer.</p>
        <p>We also have a darkroom at the student center. You can develop film there or make prints. We also have a 35 mm film scanner.</p>
    </section>
    
    <section id="equip">
        <hgroup>
            <h2>Take pictures!</h2>
            <h3>You don't need your own equipment to become a Technique photographer.</h3>
        </hgroup>
        <p>We have a large collection of cameras and lenses for you to check out. Like, <em>actually</em> check out. For free. One of the perks of joining is that once we get to know you, you can borrow equipment from us. Whether you’re a beginner or an expert photographer, we have something for you to use. Technique has a diverse set of film cameras and Nikon digital bodies and lenses. Our studio is fully equipped with strobes, light modifiers, and seamless.</p>
        <p>Our only condition for checking out equipment is that we hold copies of your negatives and digital photos for use in the yearbook. We also have paid opportunities throughout the year from community members looking for photographers for their events.</p>
    </section>
    
    <section id="film">
        <hgroup>
            <h2>Use our darkroom!</h2>
            <h3>We still love film</h3>
        </hgroup>
        <p>In addition to the numerous film cameras that you can borrow, we also provide our photographers with free film! You can develop it in our fully stocked darkroom, and you can print.</p>
    </section>
    
    <section id="digs">
        <hgroup>
            <h2>Write for us!</h2>
            <h3>We want more literary pieces in the yearbook</h3>
        </hgroup>
        <p>We’re looking for pieces of various lengths that speak to the MIT experience. Any submissions selected will be properly credited in the book, and the author will receive a free copy of the book!</p>
    </section>
    
    <section id="fine-print">
        <hgroup>
            <h2>The Fine Print</h2>
            <h3>We give away lots of stuff so you can help us build a book.</h3>
        </hgroup>
        <p>During the year Technique will loan out photography equipment and give you access to our computers, servers, studio, darkroom, and film completely free of charge. The only catch is that we hold on to the negatives and copies of your digital photos until the yearbook is published, and Technique maintains publication rights for all things yearbook-related. Aside from that, Technique allows you, the photographer, to maintain all rights to the images that you produce while working for us. A pretty sweet deal!</p>
        <p>After the yearbook has been submitted (sometime in January or February), you can take home your negatives. You'll also be able to store digital photographs on our server as long as you're an active member.</p>
    </section>
    
    
</article>



{% endblock %}
