{% extends 'tnq_base.html' %}
{% load static %}

{% block join_selected %}selected{% endblock %}
{% block content_class_tag %}class="join"{% endblock %}

{% block content %}
<article>
    <hgroup>
        <h1>Join the Technique community</h1>
        <h2>We love taking pictures at Technique. Take pictures with us&mdash;then we'd look a lot less creepy! We also like beautifully designed things.</h2>
    </hgroup>
    
    <section id="visit">
        <hgroup>
            <h2>Visit us</h2>
            <h3>Our office is in the Student Center, room W20-451.</h3>
        </hgroup>
        <p>We have regular meetings every <strong>Saturday at 1pm in W20-451</strong>. Saturdays are generally when photographers from the Technique community organize (informal) tutorial sessions where you can learn how to use an SLR, develop film, process photos in Photoshop (or in the darkroom), and create the perfect lighting setup in the studio.</p>
        <p>With that said, feel free to stop by anytime&mdash;Saturday is not the only day we're here. A lot of us hang around the office nearly all the time, so if you just swing by, more than likely, someone will be there.</p>
    </section>
    
    <section id="equip">
        <hgroup>
            <h2>Got camera?</h2>
            <h3>We have lots of beautiful cameras and lenses. You don't need your own to become a Technique photographer.</h3>
        </hgroup>
        <p>One of the perks of joining Technique is that, once we get to know you, you can borrow equipment from us. Our digital equipment and the majority of our lenses are all Nikon (sorry, Canon people), but we have an incredibly diverse set of film cameras. 35mm, medium format, large format&mdash;we have it. Some of us have built our own, too.</p>
        <p>Oh, did we mention our studio? We have seamless, lights, strobes, and softboxes galore.</p>
    </section>
    
    <section id="film">
        <hgroup>
            <h2>Love film?</h2>
            <h3>We can't get enough of it either. Mmm, delicious, delicious silver halide.</h3>
        </hgroup>
        <p>In addition to the numerous film cameras that you can borrow&mdash;35mm Nikon SLRs, Mamiya 645s, a 4x5 Speed Graphic, a 4x5 monorail, and many more&mdash;we also provide our photographers with free film. Yes, FREE. Well, there's a catch&mdash;we want to look at your negatives before you whisk them away, so we can pick a few frames to feature in the yearbook. (That's a pretty good catch.)</p>
        <p>We have lots of 35mm and 120mm film, and every now and then we get a batch of 4x5. Our favorites, in no particular order, are Delta 400, HP5, T-Max, Pan-F, Delta 100, Velvia (mmm, Velvia), and E100G. Our selection certainly includes more than those, but we just eat those up like a honey badger eats cobra.</p>
        <p>By the way, did we mention our darkroom? Yes, we not only <em>give</em> you film, but you can develop it here, too. You can also print&mdash;nothing beats a gelatin silver print, except maybe something swanky like a kallitype, cyanotype, or gum bichromate print. Oh <em>yeah</em>, we <em>like</em> prints.</p>
    </section>
    
    <section id="digs">
        <hgroup>
            <h2>How are the digs?</h2>
            <h3>Our office and editing studio can build a book, print beautiful large photos, and scan your film, too.</h3>
        </hgroup>
        <p><em>Technique</em>s are crafted on Macs using Adobe Creative Suite. Our main workhorses are Photoshop, InDesign, and Illustrator.</p>
        <p>Our editing room features full-spectrum lights and a beautiful color-calibrated 30 inch monitor. You can keep your images safe on our 10 TB RAID 6 server with an additional offsite backup and print them on our 24 inch large format printer.</p>
        <p>We have a darkroom, too. You can develop film there or make prints. We also have a 35 mm film scanner, for those of you who can't quite get away from digital.</p>
    </section>
    
    <section id="fine-print">
        <hgroup>
            <h2>The Fine Print</h2>
            <h3>We give away lots of stuff so you can help us build a book.</h3>
        </hgroup>
        <p>During the year Technique will loan out photography equipment and give you access to our computers, servers, studio, darkroom, and film completely free of charge. The only catch is that we hold on to the negatives and copies of your digital photos until the yearbook is published, and Technique maintains publication rights for all things yearbook-related. Aside from that, Technique allows you, the photographer, to maintain all rights to the images that you produce while working for us. A pretty sweet deal!</p>
        <p>After the yearbook has been submitted (sometime in January or February), you can take home your negatives. You'll also be able to store digital photographs on our server as long as you're an active member.</p>
    </section>
    
    
</article>



{% endblock %}