{% extends 'tnq_base.html' %}
{% load static %}

{% block seniors_selected %}selected{% endblock %}
{% block content_class_tag %}class="seniors"{% endblock %}

{% block content %}
<article>
    <h1>Class of 2012, get your picture taken</h1>
    <h2>How to get your picture in the yearbook:</h2>
    
    <ol>
        <li>
            <p>Visit the portrait studio's scheduling page &amp; create an account using this school password: <strong>MIT</strong></p>
            <a class="button portrait" href="http://www.photoappointment.com/">Schedule a Portrait</a>
        </li>
        <li>
            <p class="emphasize">
                Schedule an appointment
            </p>
            <p>
                Don’t worry about filling out all the fields on Lifetouch’s scheduling form. Just select a time &amp; date for your sitting and <strong>Book Appointment</strong>.
            </p>
        </li>
        <li>
            <p class="emphasize">
                Fill out your biographical info, which will be printed underneath your portrait in the yearbook.
            </p>
            <a class="button bio" href="{% url enter_senior_info %}">Fill Out Your Bio</a>
        </li>
    </ol>
    
    <section id="more-info">
        <img src="{% get_static_prefix %}images/map.png" alt="Technique's Office, W20-451" />
        <h3>
            On the date &amp; time of your appointment, come to our office in the Student Center (W20-451) and pose for the camera.
        </h3>
        <p>
            Proofs of your images will be sent to your permanent address within a few weeks. You may also take cap and gown portraits at the same time — proofs for those will be sent out closer to graduation.
        </p>
    </section>
    
{% include 'tnq_site/reminder_block.html' %}
    
    <h2>
        Frequently Asked Questions
    </h2>
    
    <aside class="sample-images">
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
        <img src="{% get_static_prefix %}images/senior_photos/senior1.jpg" alt="Senior Sample" />
    </aside>
    
    <dl>
        <dt>When do Senior Sittings generally happen?</dt>
        <dd>We schedule sittings in the spring semester for rising seniors and in the fall semester for current seniors. Please check the portrait studio’s website for available appointment dates and times.</dd>
        <dt>What should I wear?</dt>
        <dd>The portrait shows what you’re wearing down to the bottom of your ribcage. Most people dress as if they are going to a job interview or a nice restaurant. With that said, there really is no dress code (except, of course, wearing clothes). You may also bring in props if you wish. To make sure you are looking just perfect, we provide a full length mirror in our office and there are restrooms nearby.</dd>
        <dt>Can I buy prints?</dt>
        <dd>Yes - just not from us.  We contact with <a href="http://www.lifetouch.com/">LifeTouch Inc.</a> to handle the portraits, so please examine the proofs package you or your parents should have received to find ordering information.</dd>
    </dl>
</article>
{% endblock %}

