{% extends 'tnq_base.html' %}
{% load static %}
{% load site_settings %}

{% block seniors_selected %}selected{% endblock %}
{% block content_class_tag %}class="seniors"{% endblock %}

{% block content %}

{% technique_setting "preorder_active" as preorder_active %}
{% technique_setting "tnq_year" as tnq_year %}

<article>
    <h1>Class of {{ tnq_year }}, get your picture taken</h1>
    <h2>How to get your picture in the yearbook:</h2>
    
    <ol>
        <li>
            <p>Visit Lauren Studio's scheduling page. Create an account by entering your Client ID: <strong> 13MIT-[your MIT ID number]</strong></p>
            <a class="button portrait" href="//lauren.onbackdrop.com/">Schedule a Portrait</a>
        </li>
        <li>
            <p class="emphasize">
                Schedule an appointment
            </p>
            <p>
Select a time and date for your sitting.
            </p>
        </li>
        <li>
            <p class="emphasize">
Your biographical info will be printed underneath your portrait in the yearbook.
            </p>
            <a class="button bio" href="//lauren.onbackdrop.com/?contact=1">Fill Out Your Bio</a>
        </li>
    </ol>
    
    <section id="more-info">
        <img src="{% get_static_prefix %}images/map.png" alt="Technique's Office, W20-451" />
        <h3>
            On the date &amp; time of your appointment, come to our office in the Student Center (W20-451) and pose for the camera.
        </h3>
        <p>
            Proofs of your images will be sent to your permanent address within a few weeks.
        </p>
    </section>
    
{% include 'tnq_site/reminder_block.html' %}
    
    <h2>
        Frequently Asked Questions
    </h2>
    
    <aside class="sample-images">
        {% for photo in senior_photos|sample:4 %}
        <img src="{% get_static_prefix %}images/senior_photos/senior{{photo}}.jpg" alt="Senior Sample" />
        {% endfor %}
    </aside>
    
    <dl>
        <dt>When do Senior Sittings generally happen?</dt>
        <dd>We schedule sittings in the spring semester for rising seniors and in the fall semester for current seniors. Please check the portrait studio’s website for available appointment dates and times.</dd>
        <dt>What should I wear?</dt>
        <dd>The portrait shows what you’re wearing down to the bottom of your ribcage. We request that you dress as if you were going to a job interview or a nice restaurant.  To make sure you are looking just perfect, we provide a full length mirror in our office and there are restrooms nearby.  If you'd like feel free to bring an interesting prop.</dd>
        <dt>Can I buy prints?</dt>
        <dd>Yes - just not from us.  We contact with <a href="//www.laurenstudios.com/">Lauren Studios</a> to handle the portraits, so please examine the proofs package you or your parents should have received to find ordering information.</dd>
    </dl>
</article>
{% endblock %}

