<html>
    <head>
        <title>TNQ Equipment List</title>
        <style type="text/css">
            .equipment_overdue {text-decoration: underline;}
        </style>
    </head>

    <body>
{% now "N j, Y, P" %}
<table>
{% for camera in digital %}
    <tr>
        <td>{{camera.pet_name}}</td>
        {% if camera.current_checkout %}
            {% if camera.is_overdue %}
                <td class="equipment_overdue">
            {% else %}
                <td class="equipment_out">
            {% endif %}
            {{ camera.current_checkout.date_due }}</td>
        {% else %}
            <td class="equipment_in">Checked In!</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
    </body>
</html>
