{% extends 'tnq_base.html' %}

{% block content %}

{% include 'checkout/equip_list.html' with table_name="Digital Cameras" equip_list=digital_cameras %}
{% include 'checkout/equip_list.html' with table_name="35mm Film Cameras" equip_list=film_cameras %}
{% include 'checkout/equip_list.html' with table_name="Lenses" equip_list=lenses %}
{% include 'checkout/equip_list.html' with table_name="Memory Cards" equip_list=memory_cards %}
{% include 'checkout/equip_list.html' with table_name="Flashes" equip_list=external_flashes %}
{% include 'checkout/equip_list.html' with table_name="Medium Format Cameras" equip_list=medium_cameras %}
{% include 'checkout/equip_list.html' with table_name="Large Format Cameras" equip_list=large_cameras %}

{% endblock %}