{% extends 'tnq_base.html' %}

{% block content %}

<h2>Technique photography opportunities</h2>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tnq.manboard%40gmail.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border:solid 1px #777 " width="600" height="300" frameborder="0" scrolling="no"></iframe>

{% include 'checkout/equip_list.html' with table_name="Digital Cameras" equip_list=digital_cameras %}
{% include 'checkout/equip_list.html' with table_name="35mm Film Cameras" equip_list=film_cameras %}
{% include 'checkout/equip_list.html' with table_name="Lenses" equip_list=lenses %}
{% include 'checkout/equip_list.html' with table_name="Memory Cards" equip_list=memory_cards %}
{% include 'checkout/equip_list.html' with table_name="Flashes" equip_list=external_flashes %}
{% include 'checkout/equip_list.html' with table_name="Medium Format Cameras" equip_list=medium_cameras %}
{% include 'checkout/equip_list.html' with table_name="Large Format Cameras" equip_list=large_cameras %}

{% endblock %}