<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Graph</title>
        <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="http://web.mit.edu/nwiltsie/www/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="http://web.mit.edu/nwiltsie/www/flot/jquery.flot.selection.js"></script>
   <script>
$(document).ready(function(){
    var deliveries = { data: {{deliveries}}, label:"Daily Deliveries", color:1};
    var total_deliveries = { data: {{total_deliveries}}, label:"Total Deliveries", color: 2};
    var sales = {{sales|safe}};
    sales = $.map(sales, function(value, year) {
        return { data: value, label:year.toString()+" Daily Sales" };
        });
    $.merge(sales, [deliveries]);
    var cum_sales = {{cum_sales|safe}};
    cum_sales = $.map(cum_sales, function(value, year) {
        return { data: value, label:year.toString()+" Total Sales" };
        });
    $.merge(sales, [total_deliveries]);

    var options = { xaxis: { mode: "time" },
                    yaxes: [{ min: 0 }, { position:"right" }],
                    legend: {position: 'nw'},
                    lines: { steps: true },
                    selection: { mode: "x" }
                  }

    var saleplot = $.plot($("#salediv"), cum_sales, options );
    var deliveryplot = $.plot($("#deliverydiv"), sales, options );
    var overview_series = $.merge([], sales);
    $.merge(overview_series, cum_sales);
    var overview = $.plot($("#overview"),overview_series, {
                                series:{
                                    lines: { show:true, lineWidth: 1 },
                                    shadowSize: 0
                                },
                                xaxis: {ticks: [], mode:"time"},
                                yaxis: {ticks: [], min: 0, autoscaleMargin: 0.1 },
                                selection: { mode: "x" },
                                legend: {show: false} 
    });

    $("#deliverydiv").bind("plotselected", function (event, ranges) {
        // do the zooming
        deliveryplot = $.plot($("#deliverydiv"), sales,
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                      }));

        saleplot = $.plot($("#salediv"), cum_sales,
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                      }));
 
        // don't fire event on the overview to prevent eternal loop
        overview.setSelection(ranges, true);
    });

    $("#salediv").bind("plotselected", function (event, ranges) {
        // do the zooming
        deliveryplot = $.plot($("#deliverydiv"), sales,
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                      }));

        saleplot = $.plot($("#salediv"), cum_sales,
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                      }));
 
        // don't fire event on the overview to prevent eternal loop
        overview.setSelection(ranges, true);
    });
    
    $("#overview").bind("plotselected", function (event, ranges) {
        saleplot.setSelection(ranges);
        deliveryplot.setSelection(ranges);
    });

});
   </script>
    </head>
    <body>
        <div id="salediv" style="width:600px; height:300px;"></div>
        <div id="deliverydiv" style="width:600px; height:300px;"></div>
        <div id="overview" style="margin-left:50px;margin-top:20px;width:400px;height:50px"></div>
    </body>
</html>
