<div id="header">
    <ul id="nav">
        <li class="page_item page-item-3"><a href="http://technique.mit.edu/" title="Home">Home</a></li> 
        <li class="page_item page-item-7"><a href="http://technique.mit.edu/seniors/" title="Senior Portraits">Senior Portraits</a></li> 
        <li class="page_item page-item-32"><a href="http://technique.mit.edu/lg/" title="Living Groups">Living Groups</a></li> 
        <li class="page_item page-item-44"><a href="http://technique.mit.edu/join/" title="Join Us">Join Us</a></li> 
        <li class="page_item page-item-62"><a href="http://technique.mit.edu/patrons/" title="Be a Patron">Be a Patron</a></li> 
        <li class="page_item page-item-86"><a href="http://technique.mit.edu/buy/" title="Buy a Book">Buy a Book</a></li> 
        <li class="page_item page-item-2 current_page_item"><a href="http://technique.mit.edu/about/" title="About">About</a></li> 
    </ul>
</div>
